@import "variables";

@for $i from 0 through 10 {
  .p#{$i} {
    padding: $spacing-4;
  }

  .pt#{$i} {
    padding-top: $spacing-4;
  }

  .pb#{$i} {
    padding-bottom: $spacing-4;
  }

  .pr#{$i} {
    padding-right: $spacing-4;
  }

  .pl#{$i} {
    padding-left: $spacing-4;
  }
}
